/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat-bold-webfont.woff') format('woff2'), url('/fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat-extrabold-webfont.woff2') format('woff2'), url('/fonts/montserrat-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat-regular-webfont.woff2') format('woff2'), url('/fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat-semibold-webfont.woff2') format('woff2'), url('/fonts/montserrat-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Montserrat', sans-serif;
}

form {
  font-family: 'Montserrat', sans-serif;
}

input {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

textarea {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.container {
  max-width: 1810px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
}

:root {
  --bkg-color: #fff;
  --bkg-btn-color: #ff9900;
  --main-color: #333333;
  --second-color: #cacaca;
  --input-bkg-color: #414141;
  --font-size: 16px;
}

/* :focus {
  outline: 2px solid #212121;
  -moz-outline-radius: 4px;
  outline: 5px auto -webkit-focus-ring-color;
} */

*:focus {
  outline: 3px solid black;
}

button {
  border: none;
}

body {
  margin: 0px;
  background-color: var(--bkg-color);
}

.visually-hidden {
  visibility: hidden;
}

/* Header */

.header {
  height: 100px;
  background-color: var(--bkg-color);
  -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

#menu {
  display: none;
}

.burger {
  display: none;
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}

.nav-link {
  color: var(--main-color);
}

.nav-link:hover, .nav-link:focus {
  border-bottom: 2px solid var(--bkg-btn-color);
  padding-bottom: 10px;
}

.nav-item:not(:last-child) {
  margin-right: 85px;
}

.search-image-btn, .search-image {
  display: inline-block;
  margin-left: 66px;
  margin-right: 18px;
  width: 25px;
  height: 25px;
  border: transparent;
  color: var(--main-color);
  stroke: var(--main-color);
  background-color: var(--bkg-color);
  cursor: pointer;
}

.search-image-btn:hover, .search-image-btn:focus {
  stroke: var(--bkg-btn-color);
  outline: none;
}

/* Hero */

.section-hero {
  padding-left: 20px;
  padding-right: 20px;
}

.section-hero-mobile {
  display: none;
}

.section-hero .swiper-container {
  max-width: 1770px;
}

.section-hero .swiper-slide {
  background-size: cover;
  background-position: center;
}

.section-hero .swiper-button-prev {
  color: #666666;
}

.section-hero .swiper-button-next {
  color: #666666;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  color: var(--bkg-btn-color);
}

.swiper-button-prev:focus, .swiper-button-next:focus {
  /* outline: none; */
}

.section-hero .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.4);
}

.section-hero .swiper-pagination-bullet:hover {
  border: 1px solid var(--bkg-color);
}

.section-hero .swiper-pagination-bullet-active {
  /* outline: none; */
  background: var(--bkg-color);
}

.hero-content {
  padding-bottom: 96px;
  padding-top: 105px;
  padding-left: 80px;
  max-width: 51%;
}

.section-hero-heading {
  margin: 0;
  font-size: 70px;
  font-weight: 800;
  line-height: 86px;
  color: var(--bkg-color);
}

.section-hero-description {
  margin-top: 19px;
  font-size: 23px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: var(--bkg-color);
}

.btn-hero {
  display: inline-block;
  margin-top: 71px;
  padding: 28px 40px;
  font-size: 23px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: var(--bkg-color);
  background-color: var(--bkg-btn-color);
  cursor: pointer;
}

.btn-hero:hover, .btn-hero:focus {
  background-color: rgba(255, 153, 0, 0.6);
}

/* About Us */

.section-about-us {
  padding-top: 110px;
}

.section-heading {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  color: var(--main-color);
}

.section-about-us-info {
  margin-top: 21px;
  max-width: 69.5%;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 32px;
  color: var(--main-color);
}

.tool-tip {
  position: relative;
  margin-top: 8px;
  margin-left: 6px;
  margin-right: 0px;
  cursor: pointer;
}

.about-us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 43px;
}

.left-side-about-us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.31))), url(/img/image_1.png);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url(/img/image_1.png);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url(/img/image_1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.more-details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  background-size: contain;
}

.more-details-container_320 {
  display: none;
}

.more-details-description {
  margin-left: 53px;
  margin-top: 39px;
  margin-bottom: 42px;
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 32px;
  color: var(--bkg-color);
}

.more-details-btn {
  display: inline-block;
  margin-top: 2px;
  margin-left: 68px;
  margin-right: 66px;
  padding: 18px 34px;
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: var(--bkg-color);
  border: 3px solid var(--bkg-btn-color);
  background-color: transparent;
  cursor: pointer;
}

.more-details-btn:hover, .more-details-btn:focus {
  background-color: rgba(255, 153, 0, 0.6);
}

.right-side-about-us-container {
  max-width: 51%;
}

.orange-circle-list {
  margin-left: 30px;
}

.section-about-us-item-heading {
  margin-top: 0px;
  margin-left: 238px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: var(--main-color);
}

.section-about-us-item-heading_2 {
  margin-top: 0px;
  margin-left: 187px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: var(--main-color);
}

.orange-circle-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 63px;
  padding-right: 118px;
  padding-top: 71px;
  padding-bottom: 68px;
  margin-bottom: 30px;
  background: url(/img/Group\ 25.svg);
  background-repeat: no-repeat;
  background-position: 63px 71px;
  background-size: auto;
  outline: 1px solid var(--second-color);
}

.orange-circle-item:nth-child(2) {
  margin-bottom: 0px;
  padding-top: 74px;
  padding-bottom: 65px;
  padding-left: 67px;
  background: url(/img/Group\ 24.svg);
  background-repeat: no-repeat;
  background-position: 63px 58px;
  background-size: auto;
}

.orange-circle-item-description {
  margin-left: 238px;
  margin-top: 2px;
  margin-bottom: 0px;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 32px;
  color: var(--main-color);
}

/* How we work */

.section-how-we-work {
  padding-top: 110px;
}

.section-how-we-work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 54px;
  margin-right: 0px;
}

.section-how-we-work-list-item:not(:last-child) {
  margin-right: 89px;
}

.section-how-we-work-list-item-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: var(--main-color);
}

.section-how-we-work-list-item-description:hover, .section-how-we-work-list-item-description:focus {
  color: var(--bkg-btn-color);
}

.how-we-work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  width: 100%;
}

.left-side-how-we-work-container {
  max-width: 43%;
}

.section-how-we-work-item-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--main-color);
}

.section-how-we-work-info {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 32px;
  color: var(--main-color);
}

.section-how-we-work-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 67px;
}

.more-details-btn2 {
  display: inline-block;
  margin-top: 0;
  padding: 20px 38px;
  font-size: var(--font-size);
  font-weight: 700;
  text-align: center;
  color: var(--bkg-color);
  background-color: var(--bkg-btn-color);
  border: 1px solid transparent;
  cursor: pointer;
}

.more-details-btn2:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.more-details-btn2:focus {
  outline: 3px solid black;
}

.contract-btn {
  margin-top: 0;
  padding: 20px 37px;
  font-size: var(--font-size);
  font-weight: 400;
  text-align: center;
  margin-left: 30px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background-color: transparent;
  cursor: pointer;
}

.contract-btn:hover {
  color: var(--bkg-color);
  background-color: var(--main-color);
}

.contract-btn:focus {
  outline: 3px solid black;
}

.right-side-how-we-work-container {
  margin-top: 9px;
  margin-left: 142px;
  width: 870px;
  height: 465px;
  background-image: url(/img/image_2.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.hidden-text {
  visibility: hidden;
}

/* FAQ */

.section-FAQ {
  padding-top: 109px;
  padding-bottom: 97px;
}

.section-FAQ-heading {
  padding-bottom: 40px;
}

.ui-accordion-content {
  margin: 0 0 10px 0;
  padding: 10px;
}

.accordion-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 17px 0px;
  width: 100%;
  border-top: 1px solid var(--second-color);
  cursor: pointer;
}

.accordion-item:last-child {
  border-bottom: 1px solid var(--second-color);
}

.accordion-container {
  width: 100%;
}

.accordion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--main-color);
  cursor: pointer;
  outline: none;
}

.ui-accordion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--main-color);
  cursor: pointer;
  outline: none;
}

.accordion-header:hover, .ui-accordion-header:hover {
  color: var(--bkg-btn-color);
  cursor: pointer;
}

.accordion-header:focus, .ui-accordion-header:focus {
  outline: 3px solid rgba(255, 0, 0, .3);
}

.section-FAQ-item-info {
  display: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  width: 100%;
  color: var(--main-color);
}

.plus-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  padding: 0px;
  width: 50px;
  height: 50px;
  border: 0px;
  border-radius: 100%;
  background-color: #ececec;
  -webkit-transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;
}

.plus-btn:hover {
  outline: none;
  background-color: #d2d2d2;
}

.rotate {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.plus-btn:active {
  outline: none;
}

.plus-btn:focus {
  outline: 3px solid black;
}

/* Footer */

.footer {
  background-color: #222222;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 45px;
  padding-bottom: 71px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.footer-logo:focus {
  outline: 3px solid white;
}

.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 317px;
}

.footer-nav {
  margin-top: 19px;
}

.footer-nav-item {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}

.footer-nav-link {
  color: var(--second-color);
}

.footer-nav-link:focus {
  outline: 3px solid white;
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 19px;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 114px;
  padding-right: 0px;
}

.footer-social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social-item:not(:last-child) {
  margin-right: 25px;
}

.footer-social-link-fb {
  width: 60px;
  height: 60px;
  background: url(/img/fb.svg);
  background-repeat: no-repeat;
  background-size: auto;
  cursor: pointer;
}

.footer-social-link-vk {
  width: 60px;
  height: 60px;
  background: url(/img/vk.svg);
  background-repeat: no-repeat;
  background-size: auto;
  cursor: pointer;
}

.footer-social-link-inst {
  width: 60px;
  height: 60px;
  background: url(/img/instagram.svg);
  background-repeat: no-repeat;
  background-size: auto;
  cursor: pointer;
}

.footer-social-link-fb:focus {
  outline: 3px solid white;
}

.footer-social-link-vk:focus {
  outline: 3px solid white;
}

.footer-social-link-inst:focus {
  outline: 3px solid white;
}


.footer-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 19px;
  margin-left: 68px;
  width: 100%;
  max-width: 570px;
}

.section-heading-footer-center {
  font-size: 48px;
  color: var(--second-color);
}

.footer-input-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 27px;
}

.footer-label-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 25px;
  margin-left: 0px;
  margin-right: 0px;
  height: 60px;
  border: transparent solid 1px;
  background-color: var(--input-bkg-color);
}

.footer-input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 25px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 24px;
  height: 60px;
  width: 100%;
  border: transparent solid 1px;
  background-color: var(--input-bkg-color);
}

.footer-input-item:focus {
  outline: 3px solid white;
}

.footer-input-item::-webkit-input-placeholder {
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1;
  color: var(--second-color);
}

.footer-input-item::-moz-placeholder {
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1;
  color: var(--second-color);
}

.footer-input-item:-ms-input-placeholder {
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1;
  color: var(--second-color);
}

.footer-input-item::-ms-input-placeholder {
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1;
  color: var(--second-color);
}

.footer-input-item::placeholder {
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1;
  color: var(--second-color);
}

.footer-label-submit-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 34px;
  margin-left: 0px;
  margin-right: 0px;
  height: 150px;
  resize: none;
  border: transparent solid 1px;
  background-color: var(--input-bkg-color);
}

.submit-message-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 31px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-left: 20px;
  height: 150px;
  width: 100%;
  resize: none;
  border: transparent solid 1px;
  background-color: var(--input-bkg-color);
}

.submit-message-item:focus {
  outline: 3px solid white;
}

.submit-message-item::-webkit-input-placeholder {
  padding-top: 5px;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1;
  color: var(--second-color);
}

.submit-message-item::-moz-placeholder {
  padding-top: 5px;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1;
  color: var(--second-color);
}

.submit-message-item:-ms-input-placeholder {
  padding-top: 5px;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1;
  color: var(--second-color);
}

.submit-message-item::-ms-input-placeholder {
  padding-top: 5px;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1;
  color: var(--second-color);
}

.submit-message-item::placeholder {
  padding-top: 5px;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1;
  color: var(--second-color);
}

.submit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.submit-btn {
  display: inline-block;
  margin-top: -1px;
  padding: 22px 52px;
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: var(--bkg-color);
  background-color: var(--bkg-btn-color);
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.submit-btn:focus {
  outline: 3px solid white;
}

.checkbox {
  margin-left: 18px;
}

/* Перенесем стандартное отображение элементов за область видимости и добавим отступы к соседствующим меткам: */

input[type="checkbox"]:checked, input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked+label, input[type="checkbox"]:not(:checked)+label {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  line-height: 20px;
  cursor: pointer;
}

/* Перед метками добавим стилизованные контейнеры для наших пользовательских элементов. Для флажков это будут квадраты с немного закругленными для красоты краями: */

input[type="checkbox"]:checked+label:before, input[type="checkbox"]:not(:checked)+label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 1px;
  width: 14px;
  height: 14px;
  border: 1px solid #cacaca;
  background-color: #222222;
}

input[type="checkbox"]:checked+label:before, input[type="checkbox"]:not(:checked)+label:before {
  border-radius: 0px;
}

/* Теперь добавим индикаторы выбора. Для флажков это будут галки. Для большего эффекта зададим также небольшую анимацию: */

input[type="checkbox"]:checked+label:after, input[type="checkbox"]:not(:checked)+label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked+label:after, input[type="checkbox"]:not(:checked)+label:after {
  left: 3px;
  top: 4px;
  width: 7px;
  height: 4px;
  border-radius: 0px;
  border-left: 2px solid #97EE3F;
  border-bottom: 2px solid #97EE3F;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Осталось скрыть индикаторы выбора, когда элемент не выбран, и, соответственно, отображать их, когда элемент находится в выбранном состоянии: */

input[type="checkbox"]:not(:checked)+label:after, input[type="radio"]:not(:checked)+label:after {
  opacity: 0;
}

input[type="checkbox"]:checked+label:after, input[type="radio"]:checked+label:after {
  opacity: 1;
}

.label-text {
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1;
  color: var(--second-color);
}

.label-text:focus {
  outline: 3px solid white;
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  margin-top: 83px;
  width: 100%;
  max-width: 363px;
}

.footer-right-info {
  margin: 0;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 32px;
  color: var(--second-color);
}

@media (max-width: 1200px) {
  .container {
    padding: 0px 49px;
  }

  /* Header */
  .nav {
    display: none;
  }

  #menu {
    display: block;
  }

  .menu {
    position: absolute;
    z-index: 10;
    top: 99px;
    bottom: 0;
    left: 0;
    padding: 45px;
    width: 200px;
    height: 220px;
    background-color: #ff9900;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(-101%);
    -ms-transform: translateX(-101%);
    transform: translateX(-101%);
  }

  .menu-link {
    font-weight: 700;
    color: #333333;
  }

  .menu-link:hover {
    color: #fff;
  }

  .menu-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .menu.is-active {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 30px;
    height: 23px;
    cursor: pointer;
  }

  .burger .line {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #000;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    right: 0px;
  }

  .burger .active:nth-child(2) {
    width: 25px;
  }

  .burger .active:nth-child(3) {
    width: 18px;
  }

  .burger .active {
    background-color: #FF9900;
  }

  .logo-img {
    max-width: 150px;
  }

  .search-image-btn, .search-image {
    margin-left: 3px;
    margin-right: 6px;
  }

  /* Hero */
  .section-hero {
    padding: 0px 50px;
  }

  .hero-content {
    padding-bottom: 110px;
    padding-top: 165px;
    padding-left: 45px;
    max-width: 85%;
  }

  .section-hero-heading {
    font-size: 60px;
    line-height: 73px;
  }

  .section-hero-description {
    margin-top: 9px;
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
  }

  .section-hero .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 13px 10px;
  }

  .btn-hero {
    margin-top: 107px;
    padding: 28px 38px;
    font-size: 24px;
  }

  /* About Us */
  .section-about-us {
    padding-top: 71px;
  }

  .section-about-us-info {
    margin-top: 29px;
    margin-bottom: 57px;
    max-width: 100%;
  }
  
  .tool-tip {
    margin-top: 6px;
    margin-left: 0px;
    margin-right: 3px;
  }

  .about-us-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .left-side-about-us-container {
    padding-top: 467px;
  }

  .more-details-description {
    margin-left: 44px;
    margin-top: 41px;
    margin-bottom: 35px;
  }

  .more-details-btn {
    margin-left: 157px;
    margin-right: 54px;
  }

  .right-side-about-us-container {
    max-width: 100%;
  }

  .orange-circle-list {
    margin-left: 0;
    margin-top: 50px;
  }

  .orange-circle-item {
    padding-left: 109px;
    padding-top: 70px;
    margin-bottom: 40px;
    background: url(/img/Group\ 25.svg);
    background-repeat: no-repeat;
    background-position: 112px 78px;
  }

  .orange-circle-item:nth-child(2) {
    margin-bottom: 0px;
    padding-top: 69px;
    padding-left: 111px;
    background-position: 112px 61px;
  }

  .orange-circle-item-description {
    margin-left: 242px;
    margin-top: 4px;
  }

  /* How we work */
  .section-how-we-work {
    padding-top: 66px;
  }

  .left-side-how-we-work-container {
    max-width: 47.2%;
  }

  .section-how-we-work-list {
    margin-top: 54px;
  }

  .section-how-we-work-info {
    line-height: 32px;
  }

  .how-we-work-container {
    margin-top: 49px;
    width: 100%;
  }

  .section-how-we-work-btn-container {
    margin-top: 27px;
  }

  .more-details-btn2 {
    padding: 20px 37px;
  }

  .right-side-how-we-work-container {
    margin-top: 7px;
    margin-left: 52px;
    width: 437px;
    height: 689px;
    background-image: url(/img/image_2_1024.jpg);
  }

  /* FAQ */
  .section-FAQ {
    padding-top: 67px;
    padding-bottom: 58px;
  }

  .accordion-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 29px;
    padding-bottom: 20px;
  }

  .accordion-item:nth-child(2) {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .accordion-item:nth-child(3) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .accordion-item:nth-child(4) {
    padding-top: 6px;
    padding-bottom: 4px;
  }

  .accordion-item:nth-child(5) {
    padding-top: 18px;
    padding-bottom: 22px;
  }

  .accordion-header {
    max-width: 81%;
    font-size: 20px;
    letter-spacing: 0em;
  }

  /* Footer */
  .footer-container {
    padding-top: 46px;
    padding-bottom: 74px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .footer-left {
    max-width: 45%;
  }

  .footer-nav-item:not(:last-child) {
    margin-bottom: 18px;
  }

  .footer-center {
    margin-left: -27px;
    max-width: 58%;
  }

  .footer-input-list {
    margin-top: 25px;
  }

  .footer-label-item {
    margin-left: 0px;
    margin-right: 0px;
  }

  .footer-input-item {
    margin-bottom: 25px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }

  .footer-label-submit-message {
    margin-left: 0px;
    margin-right: 0px;
  }

  .submit-message-item {
    margin-left: -1px;
    margin-right: 0px;
    padding-top: 0px;
    padding-left: 20px;
    width: 100%;
  }

  .submit-container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }

  .submit-btn {
    margin-top: 0px;
    padding: 20px 35px;
  }

  .checkbox {
    margin-left: 10px;
  }

  .footer-right {
    display: none;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0px 50px;
  }

  /* Header */
  .header {
    height: 69px;
  }

  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
  }

  .nav {
    display: none;
  }

  .menu {
    top: 69px;
  }

  .logo-img {
    margin-left: 4px;
  }

  /* Hero */
  .section-hero {
    padding: 0px 0px;
  }

  .hero-content {
    padding-bottom: 115px;
    padding-top: 195px;
    padding-left: 49px;
    padding-right: 0px;
    max-width: 100%;
  }

  .section-hero .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 16px 10px;
  }

  .btn-hero {
    margin-top: 108px;
    padding: 27px 40px;
  }

  /* About Us */
  .section-about-us {
    padding-top: 70px;
  }

  .section-about-us-info {
    margin-top: 28px;
  }

  .left-side-about-us-container {
    padding-top: 476px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.31))), url(/img/image_1_768.png);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url(/img/image_1_768.png);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url(/img/image_1_768.png);
    background-position: center;
    background-size: cover;
  }

  .more-details-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
    background-size: contain;
  }

  .more-details-description {
    margin-left: 29px;
    margin-top: 22px;
    margin-bottom: 23px;
  }

  .more-details-btn {
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 29px;
  }

  .orange-circle-list {
    margin-top: 40px;
  }

  .orange-circle-item {
    padding-left: 0px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 13px;
    background: url(/img/Group\ 25.svg);
    background-repeat: no-repeat;
    background-position: 31px 72px;
    background-size: 18%;
  }

  .orange-circle-item:nth-child(2) {
    margin-bottom: 0px;
    padding-top: 28px;
    padding-bottom: 14px;
    padding-left: 0px;
    padding-right: 0;
    background: url(/img/Group\ 24.svg);
    background-repeat: no-repeat;
    background-position: 30px 68px;
    background-size: 18%;
  }

  .section-about-us-item-heading {
    margin-top: 9px;
    margin-left: 156px;
    margin-bottom: -6px;
  }

  .section-about-us-item-heading_2 {
    margin-top: 10px;
    margin-left: 94px;
    margin-bottom: -7px;
  }

  .orange-circle-item-description {
    margin-left: 180px;
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 32px;
    color: var(--main-color);
  }

  /* How we work */
  .section-how-we-work {
    padding-top: 70px;
  }
  .section-how-we-work-list-item:not(:last-child) {
    margin-right: 155px;
  }

  .how-we-work-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 43px;
  }

  .right-side-how-we-work-container {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    max-width: 100%;
    margin-top: 0;
    margin-left: 0;
    width: 668px;
    height: 284px;
    background-image: url(/img/image_2_768.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .left-side-how-we-work-container {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 41px;
    max-width: 100%;
  }

  .section-how-we-work-btn-container {
    margin-top: 30px;
  }

  /* FAQ */
  .section-FAQ {
    padding-bottom: 58px;
    padding-top: 70px;
  }

  .section-FAQ-heading {
    margin-left: -5px;
    letter-spacing: -0.017em;
  }

  .accordion-header {
    max-width: 78%;
  }

  .accordion-item {
    padding-top: 11px;
    padding-bottom: 4px;
  }

  .accordion-item:nth-child(2) {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .accordion-item:nth-child(3) {
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .accordion-item:nth-child(4) {
    padding-top: 9px;
    padding-bottom: 4px;
  }

  .accordion-item:nth-child(5) {
    padding-top: 5px;
    padding-bottom: 4px;
  }

  .section-FAQ-item-description {
    margin-right: 107px;
    width: auto;
    max-width: none;
  }

  /* Footer */
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 47px;
  }

  .footer-left {
    margin-top: 58px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .footer-nav {
    display: none;
    margin-top: 0px;
  }

  .footer-social-list {
    margin-top: 12px;
  }

  .footer-center {
    max-width: 80.4%;
    margin-left: 0px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .footer-input-item {
    padding-left: 24px;
  }

  .submit-btn {
    padding: 20px 36px;
  }
}

@media (min-width: 778px) and (max-width: 991px) {
  .orange-circle-item-description {
    max-width: 55%;
  }

  .orange-circle-item {
    background-position: 31px center;
  }

  .orange-circle-item:nth-child(2) {
    background-position: 30px center;
  }

  .section-about-us-item-heading {
    margin-left: 180px;
  }

  .section-about-us-item-heading_2 {
    margin-left: 180px;
  }
}

@media (min-width: 568px) and (max-width: 700px) {
  .section-how-we-work-list-item:not(:last-child) {
    margin-right: 89px;
  }

  .section-about-us-item-heading {
    margin-left: 180px;
  }

  .section-about-us-item-heading_2 {
    margin-left: 180px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0px 15px;
  }

  /* Header */
  .header {
    height: 45px;
  }

  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
  }

  .nav {
    display: none;
  }

  .menu {
    top: 45px;
    padding: 21px;
    width: 133px;
    height: 178px;
  }

  .burger {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 25px;
    height: 19px;
  }

  .burger .active:nth-child(2) {
    width: 20px;
  }

  .burger .active:nth-child(3) {
    width: 16px;
  }

  .logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .logo-img {
    margin-left: 0px;
    max-width: 97px;
  }

  .search-image-btn, .search-image {
    display: none;
  }

  /* Hero */
  .section-hero {
    display: none;
  }

  .section-hero-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 15px;
  }

  .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 31px;
    padding-left: 0px;
    max-width: 100%;
  }

  .hero-container {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-image: url(../img/hero_1_320.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .section-hero-heading {
    text-align: center;
    padding-left: 22px;
    padding-right: 21px;
    font-size: 20px;
    line-height: 24px;
  }

  .section-hero-description {
    margin-top: 6px;
    margin-bottom: 0px;
    padding-left: 24px;
    padding-right: 23px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }

  .btn-hero {
    margin-top: 35px;
    padding: 14px 28px;
    font-size: 12px;
  }

  /* About Us */
  .section-about-us {
    padding-top: 43px;
  }

  .section-about-us-info {
    margin-top: 5px;
    margin-bottom: -1px;
    font-size: 14px;
    line-height: 28px;
  }

  .tool-tip {
    margin-left: 1px;
    margin-right: 17px;
    margin-top: 0px;
    margin-bottom: -3px;
  }

  .section-heading {
    font-size: 24px;
    font-weight: 400;
  }

  .about-us-container {
    margin-top: 10px;
  }

  .left-side-about-us-container {
    padding-top: 0px;
    height: 200px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.31))), url(/img/image_1_320.png);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url(/img/image_1_320.png);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url(/img/image_1_320.png);
    background-position: center;
    background-size: cover;
  }

  .more-details-container {
    display: none;
  }

  .more-details-container_320 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 8px;
    margin-bottom: 0px;
  }

  .more-details-description {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: var(--main-color);
  }

  .more-details-btn {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 13px 42px;
    font-size: 12px;
    border: 2px solid #FF9900;
    color: #ff9900;
  }

  .orange-circle-list {
    margin-top: 40px;
  }

  .orange-circle-item {
    display: block;
    padding-top: 1%;
    margin-bottom: 17px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background: url(/img/Group\ 25.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 64px;
    outline: none;
  }

  .orange-circle-item:nth-child(2) {
    display: block;
    padding-top: 1%;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background: url(/img/Group\ 24.svg);
    background-repeat: no-repeat;
    background-position: 0px 3px;
    background-size: 64px;
  }

  .section-about-us-item-heading {
    margin-top: 62px;
    margin-left: 0px;
    margin-bottom: 0px;
    font-weight: 550;
    font-size: 18px;
    line-height: 22px;
  }

  .section-about-us-item-heading_2 {
    margin-top: 67px;
    margin-left: 0px;
    margin-bottom: 0px;
    font-weight: 550;
    font-size: 18px;
    line-height: 22px;
  }

  .orange-circle-item-description {
    margin-left: 0px;
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: var(--main-color);
  }

  /* How we work */
  .section-how-we-work {
    padding-top: 50px;
  }

  .section-how-we-work-list {
    margin-top: 34px;
  }

  .section-how-we-work-list-item:not(:last-child) {
    margin-right: 44px;
  }

  .section-how-we-work-list-item-description {
    font-size: 14px;
  }

  .how-we-work-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 17px;
  }

  .right-side-how-we-work-container {
    height: 160px;
    background-image: url(/img/image_2_320.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .left-side-how-we-work-container {
    margin-top: 7px;
  }

  .section-how-we-work-item-heading {
    font-size: 18px;
    font-weight: 550;
  }

  .section-how-we-work-info {
    font-size: 14px;
    line-height: 28px;
  }

  .section-how-we-work-btn-container {
    margin-top: 21px;
  }

  .more-details-btn2 {
    padding: 11px 43px;
    font-size: 12px;
  }

  .contract-btn {
    padding: 11px 31px;
    font-size: 12px;
    margin-left: 10px;
  }

  /* FAQ */
  .section-FAQ {
    padding-bottom: 39px;
    padding-top: 44px;
  }

  .section-FAQ-heading {
    margin-left: 0px;
    padding-bottom: 9px;
    line-height: 29px;
    letter-spacing: normal;
  }

  .accordion-item {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .accordion-item:nth-child(2) {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .accordion-item:nth-child(3) {
    padding-top: 7px;
    padding-bottom: 8px;
  }

  .accordion-item:nth-child(4) {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .accordion-item:nth-child(5) {
    padding-top: 7px;
    padding-bottom: 8px;
  }

  .accordion-header {
    max-width: 77.8%;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }

  .plus-btn {
    width: 30px;
    height: 30px;
  }
  
  /* Footer */
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 43px;
    padding-bottom: 25px;
  }

  .footer-center {
    max-width: 100%;
    padding-bottom: 30px;
    margin-left: 0px;
    margin-top: 0px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    border-bottom: 1px solid #595959;
  }

  .footer-input-list {
    margin-top: 24px;
  }

  .footer-input-item {
    padding-left: 20px;
    font-size: 14px;
  }

  .footer-input-item::-webkit-input-placeholder {
    font-size: 14px;
  }

  .footer-input-item::-moz-placeholder {
    font-size: 14px;
  }

  .footer-input-item:-ms-input-placeholder {
    font-size: 14px;
  }

  .footer-input-item::-ms-input-placeholder {
    font-size: 14px;
  }

  .footer-input-item::placeholder {
    font-size: 14px;
  }

  .submit-message-item {
    margin-bottom: 22px;
  }

  .submit-message-item::-webkit-input-placeholder {
    font-size: 14px;
  }

  .submit-message-item::-moz-placeholder {
    font-size: 14px;
  }

  .submit-message-item:-ms-input-placeholder {
    font-size: 14px;
  }

  .submit-message-item::-ms-input-placeholder {
    font-size: 14px;
  }

  .submit-message-item::placeholder {
    font-size: 14px;
  }

  .submit-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .submit-btn {
    margin-top: -10px;
    padding: 13px 27px;
    font-size: 12px;
  }

  .checkbox {
    margin-left: 0px;
    margin-top: 17px;
  }

  .footer-left {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 23px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    max-width: 100%;
  }

  .footer-logo-img {
    max-width: 131px;
  }

  .footer-nav {
    display: none;
    margin-top: 0px;
  }

  .footer-social-list {
    margin-top: 12px;
    margin-left: 0px;
  }

  .footer-social-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer-social-item:not(:last-child) {
    margin-right: 14px;
  }

  .footer-social-link-fb {
    width: 35px;
    height: 35px;
    background: url(/img/fb_576.svg);
    background-repeat: no-repeat;
    background-size: auto;
    cursor: pointer;
  }

  .footer-social-link-vk {
    width: 35px;
    height: 35px;
    background: url(/img/vk_576.svg);
    background-repeat: no-repeat;
    background-size: auto;
    cursor: pointer;
  }

  .footer-social-link-inst {
    width: 35px;
    height: 35px;
    background: url(/img/instagram_576.svg);
    background-repeat: no-repeat;
    background-size: auto;
    cursor: pointer;
  }
}